<li class="list-group-item" *ngFor="let usuario of usuarios">
  <h5>{{ usuario.nombre }} ({{ usuario.rol }})</h5>
  <p><strong>Correo:</strong> {{ usuario.correo }}</p>
  <p><strong>Producto más utilizado:</strong> {{ usuario.producto_mas_utilizado }}</p>
  <p><strong>Frecuencia de reposición:</strong> {{ usuario.frecuencia_de_reposicion }}</p>
  <!-- 🔘 Botón de navegación -->
  <button class="btn btn-primary mt-2" [routerLink]="['/quienes-somos', usuario.id]">
    Inventario: {{usuario.inventario_name}}
  </button>

  <hr />
</li>