
<div class="container-fluid p-0">
    <div class="text-center py-5">
      <h3>SERVICIOS</h3>
      <div class="row mt-4">
        <div class="col-md-4">
          <img src="https://cdn-icons-png.flaticon.com/512/833/833472.png" alt="Servicio 1" width="80">
          <h5 class="mt-3">Operaciones en Pesos y en Moneda Extranjera</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
        <div class="col-md-4">
          <img src="https://cdn-icons-png.flaticon.com/512/833/833472.png" alt="Servicio 2" width="80">
          <h5 class="mt-3">Transacciones Online</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
        <div class="col-md-4">
          <img src="https://cdn-icons-png.flaticon.com/512/833/833472.png" alt="Servicio 3" width="80">
          <h5 class="mt-3">Criptomoneda</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
      </div>
    </div>
  </div>
  