<div class="container-fluid p-0">
  <div class="position-relative">
    <img src="https://www.latercera.com/resizer/v2/6O3E6FX56FCYFGW5NZFOKYGNY4.jpg?quality=80&smart=true&auth=cb1335cb6bf0618491cd556ee65855efdd2ab2dae9eb059d2dadd30a41642898&width=690&height=502"
         alt="Banner"
         class="img-fluid w-100 object-fit-cover"
         style="height: 300px;">
    
    <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
      <h2 class="fw-bold">¡BIENVENIDOS a nuestra App!</h2>
      <p>Es un placer ser parte de tu día a día</p>
    </div>
  </div>
</div>
