<div class="container mt-4" *ngIf="usuario">
  <h2>{{ usuario.nombre }} ({{ usuario.rol }})</h2>
  <p><strong>Correo:</strong> {{ usuario.correo }}</p>
  <h4>Inventario: {{usuario.inventario_name}} </h4>
  <div *ngIf="usuario.gestor_de_inventario?.length">
    <ul>
      <li *ngFor="let item of usuario.gestor_de_inventario">
        <strong>{{ item.nombre_del_objeto }}</strong><br />
        Cantidad: {{ item.cantidad }}<br />
        Precio: ${{ item.precio }}<br />
        Stock: {{ item.stock }}<br />
      </li>
    </ul>
  </div>
</div>
<div class="text-end mt-4">
  <button class="btn btn-secondary" (click)="volver()">← Volver</button>
</div>
<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>